<head>
    {% load static %}
</head>


<h1>{{ post.title }}</h1>
<p>{{ post.content|safe }}</p>

<h2>Comments</h2>

{% for comment in post.comment_set.all %}
    <div class=" col-md-12 comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.content|linebreaks }}</p>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}

<form method="POST" class="post-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Send</button>
</form>
